:root {
  --pri: #F8F4E1;
  --sec: #381c0a;
  --tri1: #FEBA17;
  --tri2: #74512D;
  --red: red;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
  font-weight: 700;
  font-family: aeonik;
  src: url(./AeonikTRIAL-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}
main nav {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: var(--tri2);
}
main section.allElems {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px;
  padding-top: 80px;
  background-color: var();
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 30px;
}
main section.allElems .elem {
  position: relative;
  height: 400px;
  width: 265px;
  background-color: var(--tri1);
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
  transition: all ease 0.4s;
}
main section.allElems .elem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section.allElems .elem h2 {
  font-weight: 500;
  position: absolute;
  bottom: 3%;
  right: 6%;
}
main section.allElems .elem:active {
  scale: 0.8;
}
main section.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  position: absolute;
  display: none;
}
main section.fullElem h2 {
  font-size: 60px;
}
main section.fullElem .back {
  position: absolute;
  right: 5%;
  top: 8%;
  background-color: var(--red);
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all ease;
}
main section.fullElem .back:active {
  scale: 0.5;
}
main section.todo-list-fullPage .todo-container {
  height: 85%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section.todo-list-fullPage .todo-container .addTask {
  width: 33%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
}
main section.todo-list-fullPage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
main section.todo-list-fullPage .todo-container .addTask form input#task-input {
  padding: 12px 22px;
  width: 100%;
  font-size: 24px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 500;
}
main section.todo-list-fullPage .todo-container .addTask form textarea {
  padding: 15px 25px;
  width: 100%;
  font-size: 24px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
main section.todo-list-fullPage .todo-container .addTask form button {
  padding: 12px 22px;
  width: 100%;
  font-size: 24px;
  font-weight: 700;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s all ease;
}
main section.todo-list-fullPage .todo-container .addTask form button:active {
  scale: 0.96;
}
main section.todo-list-fullPage .todo-container .addTask form .mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
  margin-bottom: 10px;
  width: 100%;
  gap: 20px;
}
main section.todo-list-fullPage .todo-container .addTask form .mark-imp input {
  scale: 1.5;
}
main section.todo-list-fullPage .todo-container .addTask form .mark-imp label {
  font-size: 20px;
}
main section.todo-list-fullPage .todo-container .allTask {
  width: 65%;
  height: 100%;
  background-color: var(--tri2);
  border-radius: 20px;
  padding: 30px;
  overflow: auto;
}
main section.todo-list-fullPage .todo-container .allTask .task {
  background-color: var(--pri);
  padding: 15px 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main section.todo-list-fullPage .todo-container .allTask .task div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
main section.todo-list-fullPage .todo-container .allTask .task div h5 {
  color: var(--sec);
  font-size: 26px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
main section.todo-list-fullPage .todo-container .allTask .task div h5 span {
  color: var(--pri);
  background-color: red;
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 50px;
}
main section.todo-list-fullPage .todo-container .allTask .task div h5 span.true {
  opacity: 1;
}
main section.todo-list-fullPage .todo-container .allTask .task div h5 span.false {
  opacity: 0;
}
main section.todo-list-fullPage .todo-container .allTask .task div button {
  padding: 12px 22px;
  color: var(--pri);
  background-color: green;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s all ease;
}
main section.todo-list-fullPage .todo-container .allTask .task div button:active {
  scale: 0.96;
}
main section.todo-list-fullPage .todo-container .allTask .task div.details {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: relative;
  cursor: pointer;
  transition: 0.3s all;
}
main section.todo-list-fullPage .todo-container .allTask .task div.details div.buttons {
  padding: 8px 4px 8px 12px;
  background-color: var(--tri1);
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.todo-list-fullPage .todo-container .allTask .task div.details div.buttons span {
  font-size: 20px;
  font-weight: 600;
  color: var(--sec);
}
main section.todo-list-fullPage .todo-container .allTask .task div.details div.buttons i {
  font-size: 20px;
  font-weight: 600;
  color: var(--sec);
  transform: translateY(1px);
}
main section.todo-list-fullPage .todo-container .allTask .task div.details div.buttons .up {
  display: none;
}
main section.todo-list-fullPage .todo-container .allTask .task div.details div.content {
  font-weight: 700;
  background-color: var(--tri1);
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  max-height: 0px;
  padding: 0px 20px;
  transition: 0.5s all;
}
main section.todo-list-fullPage .todo-container .allTask .task div.details:active {
  scale: 0.9;
}
main section.daily-planner-fullPage {
  display: block;
}
main section.daily-planner-fullPage .day-planner {
  background-color: var(--tri2);
  height: 85%;
  width: 100%;
  margin-top: 40px;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}
main section.daily-planner-fullPage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 10px;
}
main section.daily-planner-fullPage .day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  font-size: 18px;
  font-weight: 700;
  color: var(--tri1);
}
main section.daily-planner-fullPage .day-planner .day-planner-time input {
  padding: 40px 45px 20px 45px;
  width: 100%;
  background-color: var(--sec);
  font-weight: 700;
  border-radius: 5px;
  border: none;
  font-size: 26px;
  outline: none;
}/*# sourceMappingURL=style.css.map */