:root {
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2: #74512D;
    --red: red;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-weight: 700;
    font-family: aeonik;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);

    nav {
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: var(--tri2);
    }

    //section.allElems means ki uss section ko target karo jiski class allElems hai
    section.allElems {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 30px;
        padding-top: 80px;
        background-color: var();
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;

        .elem {
            position: relative;
            height: 400px;
            width: 265px;
            background-color: var(--tri1);
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            overflow: hidden;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
            transition: all ease 0.4s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h2 {
                font-weight: 500;
                position: absolute;
                bottom: 3%;
                right: 6%;
            }
        }

        .elem:active {
            scale: 0.8;
        }
    }

    section.fullElem {
        height: 100%;
        width: 100%;
        background-color: var(--sec);
        padding: 40px;
        position: absolute;
        display: none;

        .back {
            position: absolute;
            right: 5%;
            top: 8%;
            background-color: var(--red);
            border-radius: 10px;
            border: none;
            padding: 12px 20px;
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s all ease;
        }

        .back:active {
            scale: 0.5;
            // transform: scaleX(0.9);
        }
    }

    section.todo-list-fullPage {
        // background-color: red;
        display: block;

        h2 {
            font-size: 65px;
        }

        .todo-container {
            height: 85%;
            width: 100%;
            margin-top: 40px;
            // background-color: var(--tri2);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .addTask {
                width: 33%;
                height: 100%;
                background-color: var(--tri2);
                border-radius: 20px;

                form {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 30px;
                    input#task-input {
                        padding: 12px 22px;
                        width: 100%;
                        font-size: 24px;
                        background-color: var(--pri);
                        color: var(--sec);
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        margin-bottom: 20px;
                        font-weight: 500;
                    }
                    textarea {
                        padding: 15px 25px;
                        width: 100%;
                        font-size: 24px;
                        background-color: var(--pri);
                        color: var(--sec);
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        margin-bottom: 20px;
                    }
                    button {
                        padding: 12px 22px;
                        width: 100%;
                        font-size: 24px;
                        font-weight: 700;
                        background-color: var(--tri1);
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        // margin-bottom: 20px;
                        cursor: pointer;
                        transition: 0.3s all ease;
                    }
                    button:active {
                        scale: 0.96;
                    }

                    .mark-imp{
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 10px 10px;
                        margin-bottom: 10px;
                        width: 100%;
                        gap: 20px;
                        input{
                            scale: 1.5;
                        }
                        label{
                            font-size: 20px;
                        }
                    }
                }

            }

            .allTask {
                width: 65%;
                height: 100%;
                background-color: var(--tri2);
                border-radius: 20px;
                padding: 30px;
                overflow: auto;

                .task{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    background-color: var(--pri);
                    padding: 15px 40px;
                    border-radius: 10px;
                    margin-bottom: 10px;

                    h5{
                        color: var(--sec);
                        font-size: 26px;

                        display: flex;
                        align-items: flex-start;
                        gap: 5px;

                        span{
                            color: var(--pri);
                            background-color: red;
                            font-size: 11px;
                            padding: 4px 8px;
                            border-radius: 50px;
                        }
                        span.true{
                            opacity: 1;
                        }
                        span.false{
                            opacity: 0;
                        }
                    }
                    button{
                        padding: 12px 22px;
                        color: var(--pri);
                        background-color: green;
                        font-size: 18px;
                        border-radius: 5px;
                        border: none;
                        font-weight: 700;
                        cursor: pointer;
                        transition: 0.3s all ease;
                    }
                    button:active {
                        scale: 0.96;
                    }
                }
            }
        }
    }

}