:root {
    --pri: #F8F4E1;
    --sec: #381c0a;
    --tri1: #FEBA17;
    --tri2: #74512D;
}

@font-face {
    font-family: aeonik;
    font-weight: 200;
    src: url(./AeonikTRIAL-Light.otf);
}

@font-face {
    font-family: aeonik;
    font-weight: 500;
    src: url(./AeonikTRIAL-Regular.otf);
}

@font-face {
    font-weight: 700;
    font-family: aeonik;
    src: url(./AeonikTRIAL-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: aeonik;
    color: var(--pri);
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: var(--sec);

    nav {
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: var(--tri2);
    }

    //section.allElems means ki uss section ko target karo jiski class allElems hai
    section.allElems{
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 30px;
        padding-top: 80px;
        background-color: var();
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;

        .elem{
            position: relative;
            height: 400px;
            width: 265px;
            background-color: var(--tri1);
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            overflow: hidden;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
            transition: all ease 0.4s;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            h2{
                font-weight: 500;
                position: absolute;
                bottom: 3%;
                right: 6%;
            }
        }
        .elem:active{
            scale: 0.8;
        }
    }

    section.fullElem{
        height: 100%;
        width: 100%;
        background-color: var(--sec);
        padding: 40px;
        font-size: 30px;
        position: absolute;
        display: none;
        .back{
            position: absolute;
            right: 5%;
            top: 8%;
            background-color: rgb(255, 0, 0);
            border-radius: 10px;
            border: none;
            padding: 12px 20px;
            font-size: 22px;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s all ease;
        }
        .back:active{
            scale: 0.5;
        }
    }
}